@import url('https://fonts.googleapis.com/css?family=Julius+Sans+One');
@font-face{
    font-family: myfont1;
    src:url(../fonts/SofiaProRegular.ttf);
}

/* * {
    border: 1px solid red;
} */

/* UNIVERZALNI CSS PRAVILA */

.container {
    max-width: 1440px;
}

.pomestilevo {
    padding-left: 180px;
}

.pomestidole {
    padding-top: 10%;
}

.pomestidole1 {
    padding-top: 13%;
}

.pomestidole2 {
    padding-top: 8%;
}

.pomestidole3 {
    padding-top: 30%;
}

.pomestidole4 {
    padding-top: 17%;
}

.vovlechi {
    margin-left: -7%;
}

/* FOOTER */

/* THE CLOCKS */

.test {
    height: 135px;
    border: none;
}

.clockwrapper {
    width: 65px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    /* transform: translateY(-3px); */
}

.rotatingwrapper{
    top: 18px;
    position: absolute;
    width: 65px;
    height: 65px;
    display: flex;
    justify-content: center;
}

.clockbody {
    height: 100px;
    background-repeat: no-repeat;
    background-image: url('../media/clock/clockface.png');
    background-position: center;
}

.clockhour, .clockmin {
    display: block;
    position: absolute;
}

.lowerfooter{
    border-top: 1px solid grey;
    padding-top:20px;
}

.fab {
    cursor: pointer;
}

.footerlinks > div > i {
      color: red;
  }

/* MEDIA QUERIES / РЕСПОНЗИВНОСТ */


@media only screen and (max-width: 1440px)
/* and (max-width: 1680px)*/{ 
  
.ipanel {
    margin-left: 4%;
}

#laptopimg2 {
    width: 90vh;
    margin-top: 39%;
    margin-left: 35%;
}

.firsth3 {
    margin-top: 10%;
}

}

@media only screen and (max-width: 425px)
{ 
   /* FOOTER */

   .lowerfooter {
       padding-bottom: 20px;
   }

   .levfuter {
       text-align: center;
   }

   .desenfuter {
       margin-top: -5px;
   }

  .footerlinks {
      flex-wrap: nowrap;
      float: none!important;
      text-align: center;
  }
}
