@import url('https://fonts.googleapis.com/css?family=Julius+Sans+One');
@font-face{
    font-family: myfont1;
    src:url(../fonts/SofiaProRegular.ttf);
}


/* * {
    border: 1px solid rgb(221, 245, 10);
} */

/* UNIVERZALNI CSS PRAVILA */

.container {
    max-width: 1440px;
}

.pomestilevo {
    padding-left: 180px;
}

.pomestidole {
    padding-top: 10%;
}

.pomestidole1 {
    padding-top: 13%;
}

.pomestidole2 {
    padding-top: 8%;
}

.pomestidole3 {
    padding-top: 30%;
}

.pomestidole4 {
    padding-top: 5%;
}

.pomestidole5{
    padding-top: 17%;
}

.pomestidole6 {
    padding-top: 8%;
}

.vovlechi {
    margin-left: -7%;
}

/* BACKGROUND */

.background {
    height: 62vh;
    background-image: linear-gradient(
      rgba(39, 35, 35, 0.3), 
      rgba(39, 35, 35, 0.3) 
    ), url(../media/abstract.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100vh;
}

.maincontent {
    height: 50vh;
    margin-top: -3%;
}

#sandwichy {
    height: 100%;
    margin-top: -10%;
}

.kompjutercheto {
    height: 100%;
    margin-top: -9%;
}


.najgorenaslov {
    padding-top: 5%;
    padding-left: 6%;
}

.threelees {
    list-style-type: none;
    cursor: pointer;
}

.holder {
    overflow:hidden; 
    overflow-y:hidden;
    width: 100%;
}

.leenk {
    color: rgba(218, 209, 209, 0.3);
    padding: 25px;
    text-decoration: none;
}

 .leenk:hover {
    text-decoration: none;
    color: rgba(218, 209, 209, 0.8);
    padding: 25px;
}


#codeicon {
   background-image: url(/media/coding.svg);
    margin-top: 13%;
    margin-left: 10%;
    transform: rotate(-10deg);
    width: 300px;
    height: 400px;
    background-repeat: no-repeat;
}

.holder {
    background: rgba(255,255,255,.3);
    border-radius: 15px;
    margin-block-start: 0em;
    margin-block-end: 0em;
    padding-inline-start: 0;
    -webkit-border-radius: 55px;
}

.contentpart {
    background: rgba(255,255,255,.3);
    border-radius: 15px 0px 0px 15px;
    height: 475px;
    margin-top: -15%;
}

.najgorenaslovwrap {
    margin-bottom: 15px;
}

.hideit {
    padding-top: 30px;
    list-style-type: none;
    font-weight: bold;
    font-size: 35px;
    color: #ffc107;
}


#marketingContent, #codingContent, #brandingContent {
    font-size: 18px;
}
  
.activ {
    background: rgba(26, 165, 45, 0.5);
    border: 5px solid rgb(197, 228, 203);
    border-radius: 15px;
    -moz-border-radius: 15px; -webkit-border-radius: 94px;
}

.activ>a {
    color: rgba(255, 255, 255, 0.8);;
}

@media only screen and (max-width: 1440px)
{ 
    
#marketingContent, #codingContent, #brandingContent {
    font-size: 18px;
}

}

@media only screen and (max-width: 1024px)
{ 
    
#marketingContent, #codingContent, #brandingContent {
    font-size: 18px;
}

.leenk h1 {
    font-size: 1.5rem;
}

.holder {
    border-radius: 15px;
    -webkit-border-radius: 48px;
}
}

@media only screen and (max-width: 768px)
/* and (max-width: 1024px)*/{ 
    
.leenk h1 {
    font-size: 20px;
}

.background {
    height: 100vh;
}

footer {
    margin-top: 41%;
}

.najgorenaslov {
    margin-top: 2%;
    text-align: center;
}

.kompjutercheto {
    height: 37%;
    margin-left: 10%;
    margin-top: 54%;
}

.maincontent {
    margin-top: 5%;
}

.holder {
    border-radius: 15px;
    -webkit-border-radius: 40px;
}

#marketingContent, #codingContent, #brandingContent {
    font-size: 18px;
}


}


@media only screen and (max-width: 425px)
{ 

    .najgorenaslovwrap {
    margin-bottom: 40px;
}

.najgorenaslov {
    margin-top: 12%;
}

#marketingContent, #codingContent, #brandingContent {
    font-size: 15px;
}

footer {
    margin-top: 61%;
}

}




